mixin side-item(link, icon, text, isArrow)
  li
    a.nav-link(href=link)
      div.svg-wrapp
        svg.link-svg(width="24" height="24")
          use(href=`./images/icons.svg#${icon}`)
        span.link-text= text
      if isArrow
        span &gt;